<section class="py-10 bg-gray-100 sm:py-16 lg:py-24">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 xl:grid-cols-6 sm:gap-x-12 gap-y-12">
            <div class="lg:col-span-2">
                <h2 class="text-3xl font-bold leading-tight text-gray-800 sm:text-4xl lg:text-5xl lg:leading-tight">
                    🧑‍🚀 Projeto Base
                </h2>
                <p class="mt-6 text-base text-gray-600">Este projeto base foi desenvolvido para auxiliar no início de um site institucional comum. Ele oferece um ponto de partida com um slider, opção de React e TypeScript, o que é bastante útil e pode ser utilizado como base para o desenvolvimento de qualquer projeto web.</p>
                <p class="mt-6 text-base text-gray-600">Comece com:<br><code>npm create astro@latest -- --template viniciusmpereira/BaseSiteAveme</code><br><br>
                <code>npm install</code></p><br>
                <p></a> by <a href="https://github.com/viniciusmpereira">Vinicius Pereira</a>.</p>
            </div>

            <div class="lg:col-span-3 xl:col-span-4">
                <div class="grid items-center max-w-4xl grid-cols-2 mx-auto lg:grid-cols-3 gap-x-10 gap-y-16">
                    <div class="grid justify-items-center">
                        <img class="object-contain w-full h-[5rem] mx-auto" src="/logos/astro.svg" alt="Astro Framework" />
                        <h1 class="text-base">Astro Framework</h1>
                    </div>

                    <div class="grid justify-items-center">
                        <img class="object-contain w-full h-[5rem] mx-auto" src="/logos/react.svg" alt="Astro Framework" />
                        <h1 class="text-base">React</h1>
                    </div>

                    <div class="grid justify-items-center">
                        <img class="object-contain w-full h-[5rem] mx-auto" src="/logos/react-icons.svg" alt="Astro Framework" />
                        <h1 class="text-base">React Icons</h1>
                    </div>

                    <div class="grid justify-items-center">
                        <img class="object-contain w-full h-[5rem] mx-auto" src="/logos/tailwind-css.svg" alt="Astro Framework" />
                        <h1 class="text-base">Taiwind Css</h1>
                    </div>

                    <div class="grid justify-items-center">
                        <img class="object-contain w-full h-[5rem] mx-auto" src="/logos/swiper.svg" alt="Astro Framework" />
                        <h1 class="text-base">Swiper</h1>
                    </div>

                    <div class="grid justify-items-center">
                        <img class="object-contain w-full h-[5rem] mx-auto" src="/logos/flowbite.svg" alt="Astro Framework" />
                        <h1 class="text-base">Flowbise</h1>
                    </div>

                    
                </div>

                <div class="flex items-center justify-start mt-10 space-x-3 lg:hidden">
                    <div class="w-2.5 h-2.5 rounded-full bg-blue-600 block"></div>
                    <div class="w-2.5 h-2.5 rounded-full bg-gray-300 block"></div>
                    <div class="w-2.5 h-2.5 rounded-full bg-gray-300 block"></div>
                </div>
            </div>
        </div>
    </div>
</section>
