---
import BaseHead from '../components/Base/BaseHead.astro';
import Header from '../components/Base/BaseHeader.astro';
import Footer from '../components/Base/BaseFooter.astro';
import tailwind from '@astrojs/tailwind';
import react from "@astrojs/react";
const {title, description} = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="z-0">
		<Header/>
		<main>
			<slot />
		</main>	
		<Footer />
	</body>
</html>
